<head>
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"> -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
  .input-group-addon{color:#ff0000; background-color: #ffffff;}

  </style>
</head>
<div class="jumbotron" style="padding:45px 0px ;background:green ">
  <h4 class="text-center" >Todo app component</h4>
</div>


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
<div class="form-group ">

  <div class="input-group" >

   <div class="input-group-addon hover-cursor" (click)="onAdd(itemTitle,itemDate)">
	<i class="fa fa-plus-circle fa-2x"></i>
   </div>
<input class="form-control"  type="text" #itemTitle required placeholder="enter Task">
<input type="datetime-local" name="" #itemDate required style="width:30%" placeholder="set datetime">
  </div>

 </div>


<div style="margin:5px 0px">
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let item of todolistarray" >
      <span class="hover-cursor" [class.text-success]="item.isChecked" style="color:green" (click)="alterCheck(item.key,item.checked)">
        <i class="fa fa-lg" [ngClass]="item.checked?'fa fa-check-circle':'fa fa-circle-thin'" ></i>

      </span>
      {{item.title}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{item.Date}}
      <span class="hover-cursor text-danger pull-right" (click)="onDelete(item.key)">
      <i class="fa fa-trash-o fa-lg"></i></span>
    </li></ul>
</div>
